In [1]:
#import library
import tweepy
import webbrowser
import time
import json
import pandas as pd

In [2]:
CONSUMER_KEY = 'ZtLli7CHI5mrhJ8JqrWcjRm1R'
CONSUMER_SECRET = 'VAqJGAwHXALuWTBy07pT5lNQC5sAi3iW5QTItWoQhAWIjqWShE'
OAUTH_TOKEN = '1544980765401722880-HRDPj3e6TLkw7Asi1YV4UddJUZ1W9E'
OAUTH_TOKEN_SECRET = 'FVVHb30bYBJfNP1zqQ71PmbZe7NsjPsshvuajnweduYLC'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAPU6egEAAAAAeEqsGvidokk62Wqn%2FvWPRQOJJ1M%3D99faNg981uTlW9xa6O7Plr3DwH4NYyUPXUUuZdJMRdXzPwZnGZ'

In [3]:
# Creating the authentication object
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# Setting your access token and secret
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
# Creating the API object while passing in auth information
api = tweepy.API(auth) 
print(api.verify_credentials().screen_name)

syaiifudin15

In [4]:
query = 'grab lang:id'

# for page in tweepy.Cursor(api.search_full_archive,label='development', 
#                           query=query,
#                           fromDate='202111130000',
#                           toDate='202111170000',
#                         maxResults=10).items(10):
    
#     parsedTweets.append('name' = page.in_reply_to_screen_name,'tweet'=>page.text,'created_at' => page.created_at)
# parsedTweets
tweets = tweepy.Cursor(api.search_tweets, q=query,
                       count=200).items(200)

In [5]:
tweets_list = [[tweet.created_at, tweet.user.screen_name, tweet.text] for tweet in tweets]
tweets_df = pd.DataFrame(tweets_list,columns=['created_at', 'username', 'text'])
tweets_df['created_at'] = tweets_df['created_at'].apply(lambda a: pd.to_datetime(a).date())
tweets_df

,created_at,username,text
0,2023-02-14,itsliebling,"RT @ketengahketepi: Korang, i suka grab niüò≠ ht..."
1,2023-02-14,amoney___,"RT @ketengahketepi: Korang, i suka grab niüò≠ ht..."
2,2023-02-14,Skyone_creative,INI DIA SURPRISE DARI MINONEüòçüòçüòç\n\nDapatkan ha...
3,2023-02-14,caratsmarket,cwts caratdeul siapa nih yang belum kebagian i...
4,2023-02-14,AmeramerAmera,"RT @ketengahketepi: Korang, i suka grab niüò≠ ht..."
...,...,...,...
195,2023-02-14,Emyliaizzti,I pernah kena macamni HAHAHAHAH rupanya grab t...
196,2023-02-14,pewchybitchy,Babilaaa aku dok ceruk mana nii susahnyaa dapa...
197,2023-02-14,aaygx,"RT @ketengahketepi: Korang, i suka grab niüò≠ ht..."
198,2023-02-14,TianViriyanon,another 10/10 read from @itsteme ! sumpah love...
199,2023-02-14,zackyisone,Kecik2 dulu slalu lah gini dgn kwn. Now bila b...

In [6]:
#Creating and save dataset to excel
tweets_df.to_excel("datagrab52.xlsx")