In [1]:
#import library
import tweepy
import webbrowser
import time
import json
import pandas as pd

In [2]:
CONSUMER_KEY = 'IPTyQLrhaQsZLL1EzFi6maOBf'
CONSUMER_SECRET = '0OjL8fROHAnVp0KXP6fK826bIPLHV77evK9lHEX5bDMDJngNCV'
OAUTH_TOKEN = '1544980765401722880-sW2XfBUhkxHvYinFPnXMsuuuRWfHpv'
OAUTH_TOKEN_SECRET = 'kAVrxua0E1qB0sxSVqsTDX4Q4rmJ8GsMLFnO9gzX3uYCg'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAPU6egEAAAAAo%2BPFAaiRgyARwOrme8d1b0eeYI4%3DtE9RP7lqvcYs7seGZoxgJVdMO5b3kpsMZNCFqKf5ZUExu6Kw71'

In [3]:
# Creating the authentication object
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# Setting your access token and secret
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
# Creating the API object while passing in auth information
api = tweepy.API(auth) 
print(api.verify_credentials().screen_name)

syaiifudin15

In [4]:
query = 'grab lang:id'

# for page in tweepy.Cursor(api.search_full_archive,label='development', 
#                           query=query,
#                           fromDate='202111130000',
#                           toDate='202111170000',
#                         maxResults=10).items(10):
    
#     parsedTweets.append('name' = page.in_reply_to_screen_name,'tweet'=>page.text,'created_at' => page.created_at)
# parsedTweets
tweets = tweepy.Cursor(api.search_tweets, q=query,
                       count=100).items(100)

In [5]:
tweets_list = [[tweet.created_at, tweet.user.screen_name, tweet.text] for tweet in tweets]
tweets_df = pd.DataFrame(tweets_list,columns=['created_at', 'username', 'text'])
tweets_df['created_at'] = tweets_df['created_at'].apply(lambda a: pd.to_datetime(a).date())
tweets_df

,created_at,username,text
0,2022-07-23,arifabbb,"@ndagels aku tkut kalo nyetir motor kya gini, ..."
1,2022-07-23,xitsmydreamx,RT @browmnies: mind to help RT? thankyou! 💐\n\...
2,2022-07-23,chocbox4you,RT @llilly_rose: Korang tengah cari baju untuk...
3,2022-07-23,pksmggg,RT @browmnies: mind to help RT? thankyou! 💐\n\...
4,2022-07-23,syrhmzlann_,RT @llilly_rose: Korang tengah cari baju untuk...
...,...,...,...
95,2022-07-23,RareKabus,"RT @casualpantshub: alhamdulillah, yayy someo..."
96,2022-07-23,NNorsyahiera,RT @shanteksigadis: ❤️𝙃𝙀𝙇𝙇𝙊 𝙉𝙐𝘿𝙀 𝙇𝙊𝙑𝙀𝙍❤️\n\nSe...
97,2022-07-23,eikahyf,"RT @casualpantshub: alhamdulillah, yayy someo..."
98,2022-07-23,hamizahzulisa,"RT @ketengahketepi: Bukan salah kucing tu, rot..."
99,2022-07-23,mildaaoktv,Kenapasiii jcool twist ga ada di grab. Pffffft...

In [6]:
#Creating and save dataset to excel
tweets_df.to_excel("datasetgrab8.xlsx")