In [1]:
import tweepy
import webbrowser
import time
import json
import pandas as pd

In [2]:
CONSUMER_KEY = 'ePAZQP8nAxVlGvM3NF4uTITKu'
CONSUMER_SECRET = 'Z51V2yv6w1VQJlZzjBX0m4y33dVj4HRCSgyUZLL1JswwEmueVy'
OAUTH_TOKEN = '1542059811235590145-1EnWFIXzRm9dbBABUlEhR2HeLyTn3b'
OAUTH_TOKEN_SECRET = 'Apf3m9e86ZqiMbnE19MIcpdCm0xTfHCVAPNxLMpXwWDyl'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAPAYeQEAAAAA78vz0cFyYH49TDL1JT8Z1ek2qn0%3DBtEPcrbpTwklxjsaMejyHDN4f3XNWSqin3EYzmYhJzxvF3CYQJ'

In [3]:
# Creating the authentication object
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# Setting your access token and secret
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
# Creating the API object while passing in auth information
api = tweepy.API(auth) 
print(api.verify_credentials().screen_name)

sakazukiSieraa

In [4]:
query = 'kuliah daring lang:id'

# for page in tweepy.Cursor(api.search_full_archive,label='development', 
#                           query=query,
#                           fromDate='202111130000',
#                           toDate='202111170000',
#                         maxResults=10).items(10):
    
#     parsedTweets.append('name' = page.in_reply_to_screen_name,'tweet'=>page.text,'created_at' => page.created_at)
# parsedTweets
tweets = tweepy.Cursor(api.search_full_archive,label='development', 
                          query=query,
                          fromDate='20200616000',
                          toDate='202006170000',
                        maxResults=100).items(100)

In [5]:
tweets_list = [[tweet.created_at, tweet.user.screen_name, tweet.text] for tweet in tweets]
tweets_df = pd.DataFrame(tweets_list,columns=['created_at', 'username', 'text'])
tweets_df['created_at'] = tweets_df['created_at'].apply(lambda a: pd.to_datetime(a).date())
tweets_df

,created_at,username,text
0,2020-06-16,collegemenfess,"[cm] guys mau nanya, temenku kan ngirim surat ..."
1,2020-06-16,flasvh,@collegemenfess Mngkin karena daring makanya s...
2,2020-06-16,AMWalisongo,"Dengan adanya survei kecil-kecilan ini, lebih ..."
3,2020-06-16,rogasper,"@vitobasterbine Saya juga setuju, Kasihan yg s..."
4,2020-06-16,delacr0ixx,"RT @bahrul04_: Setelah kuliah daring, yang dip..."
...,...,...,...
95,2020-06-16,remahremahciki,"@Angelo_Mikha Bener banget, gara-gara 3 bulan ..."
96,2020-06-16,unismafess,"Kuy Opo aku tok nde kene sing mulai bosen, mal..."
97,2020-06-16,matchhamouss,@collegemenfess Akuuu. Aku pengen bgt daring d...
98,2020-06-16,_jigeumbuteo,@hysora_ kaka jugaaa ayeee ðŸ¤©ðŸ¤© ka liddd masa ak...
99,2020-06-16,collegemenfess,[cm] ada gak di antara kalian yang milih kulia...

In [6]:
from openpyxl import load_workbook
book = load_workbook('D:\Kuliah\Skripsi\Penelitian\dataSet1.xlsx')
writer = pd.ExcelWriter('D:\Kuliah\Skripsi\Penelitian\dataSet1.xlsx', engine='openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

tweets_df.to_excel(writer, index = False)

writer.save()