In [1]:
#import library
import tweepy
import webbrowser
import time
import json
import pandas as pd

In [2]:
CONSUMER_KEY = 'ZtLli7CHI5mrhJ8JqrWcjRm1R'
CONSUMER_SECRET = 'VAqJGAwHXALuWTBy07pT5lNQC5sAi3iW5QTItWoQhAWIjqWShE'
OAUTH_TOKEN = '1544980765401722880-HRDPj3e6TLkw7Asi1YV4UddJUZ1W9E'
OAUTH_TOKEN_SECRET = 'FVVHb30bYBJfNP1zqQ71PmbZe7NsjPsshvuajnweduYLC'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAPU6egEAAAAAeEqsGvidokk62Wqn%2FvWPRQOJJ1M%3D99faNg981uTlW9xa6O7Plr3DwH4NYyUPXUUuZdJMRdXzPwZnGZ'

In [3]:
# Creating the authentication object
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# Setting your access token and secret
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
# Creating the API object while passing in auth information
api = tweepy.API(auth) 
print(api.verify_credentials().screen_name)

syaiifudin15

In [4]:
# tentukan kata kunci pencarian dan tanggal pengambilan data
start_date = "2023-03-06"
end_date = "2023-03-09"

In [5]:
# tentukan jumlah data yang akan diambil
limit = 400

In [6]:
# Buat query untuk mencari tweet dengan keyword tertentu pada rentang tanggal tertentu
query = "gojek"
tweets = tweepy.Cursor(api.search_tweets, q=query, lang="id", since_id=start_date, until=end_date).items(limit)

In [7]:
# Simpan data ke dalam list
data = []
for tweet in tweets:
    row = [tweet.created_at, tweet.user.screen_name, tweet.text]
    data.append(row)

In [8]:
# Ubah list ke dalam pandas dataframe
df = pd.DataFrame(data, columns=['created_at', 'username', 'text'])

# Ubah kolom 'created_at' menjadi tipe data datetime
#df['created_at'] = pd.to_datetime(df['created_at'])

# Remove timezone information
df['created_at'] = df['created_at'].dt.tz_localize(None)
df

Empty DataFrame
Columns: [created_at, username, text]
Index: []

In [9]:
#Creating and save dataset to excel
df.to_excel("datagojek32.xlsx")