In [1]:
#import library
import tweepy
import webbrowser
import time
import json
import pandas as pd

In [2]:
CONSUMER_KEY = 'ZtLli7CHI5mrhJ8JqrWcjRm1R'
CONSUMER_SECRET = 'VAqJGAwHXALuWTBy07pT5lNQC5sAi3iW5QTItWoQhAWIjqWShE'
OAUTH_TOKEN = '1544980765401722880-HRDPj3e6TLkw7Asi1YV4UddJUZ1W9E'
OAUTH_TOKEN_SECRET = 'FVVHb30bYBJfNP1zqQ71PmbZe7NsjPsshvuajnweduYLC'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAPU6egEAAAAAeEqsGvidokk62Wqn%2FvWPRQOJJ1M%3D99faNg981uTlW9xa6O7Plr3DwH4NYyUPXUUuZdJMRdXzPwZnGZ'

In [3]:
# Creating the authentication object
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# Setting your access token and secret
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
# Creating the API object while passing in auth information
api = tweepy.API(auth) 
print(api.verify_credentials().screen_name)

syaiifudin15

In [4]:
query = 'grab lang:id'

# for page in tweepy.Cursor(api.search_full_archive,label='development', 
#                           query=query,
#                           fromDate='202111130000',
#                           toDate='202111170000',
#                         maxResults=10).items(10):
    
#     parsedTweets.append('name' = page.in_reply_to_screen_name,'tweet'=>page.text,'created_at' => page.created_at)
# parsedTweets
tweets = tweepy.Cursor(api.search_tweets, q=query,
                       count=200).items(200)

In [5]:
tweets_list = [[tweet.created_at, tweet.user.screen_name, tweet.text] for tweet in tweets]
tweets_df = pd.DataFrame(tweets_list,columns=['created_at', 'username', 'text'])
tweets_df['created_at'] = tweets_df['created_at'].apply(lambda a: pd.to_datetime(a).date())
tweets_df

,created_at,username,text
0,2023-02-13,macherieathena,pls la aku dah lagi mls bgt kuliahhh ini grab ...
1,2023-02-13,ammvangelist,RT @facktura: Betul la rezeki tak pernah salah...
2,2023-02-13,Sorali_lali,Main Twitter itu bisa dimana saja\n-di kantor ...
3,2023-02-13,izaireenn_,RT @harizttt: üó£Ô∏èüë• boleh merancang bersama pasa...
4,2023-02-13,wy_ngieee03,"Wts lfb ph\n SET ONLYüòä\nSet Price: ‚Ç±2, ..."
...,...,...,...
195,2023-02-12,lindu_skuy2,"Dibikin ngakak sama grab malam2, Belekpores do..."
196,2023-02-12,leopark000,RT @nuriyliamalek: Untuk adik grab yang hantar...
197,2023-02-12,MrK_Crew,@NabilErsyad Few times juga try to book Grab d...
198,2023-02-12,xmelati_,RT @nuriyliamalek: Untuk adik grab yang hantar...
199,2023-02-12,sarahhaderan,RT @afqh_rahim: @Tfsgxy_ Aku taknak jatuh huku...

In [6]:
#Creating and save dataset to excel
tweets_df.to_excel("datagrab51.xlsx")