In [1]:
#import library
import tweepy
import webbrowser
import time
import json
import pandas as pd

In [2]:
CONSUMER_KEY = 'IPTyQLrhaQsZLL1EzFi6maOBf'
CONSUMER_SECRET = '0OjL8fROHAnVp0KXP6fK826bIPLHV77evK9lHEX5bDMDJngNCV'
OAUTH_TOKEN = '1544980765401722880-sW2XfBUhkxHvYinFPnXMsuuuRWfHpv'
OAUTH_TOKEN_SECRET = 'kAVrxua0E1qB0sxSVqsTDX4Q4rmJ8GsMLFnO9gzX3uYCg'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAPU6egEAAAAAo%2BPFAaiRgyARwOrme8d1b0eeYI4%3DtE9RP7lqvcYs7seGZoxgJVdMO5b3kpsMZNCFqKf5ZUExu6Kw71'

In [3]:
# Creating the authentication object
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# Setting your access token and secret
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
# Creating the API object while passing in auth information
api = tweepy.API(auth) 
print(api.verify_credentials().screen_name)

syaiifudin15

In [4]:
query = 'gojek lang:id'

# for page in tweepy.Cursor(api.search_full_archive,label='development', 
#                           query=query,
#                           fromDate='202111130000',
#                           toDate='202111170000',
#                         maxResults=10).items(10):
    
#     parsedTweets.append('name' = page.in_reply_to_screen_name,'tweet'=>page.text,'created_at' => page.created_at)
# parsedTweets
tweets = tweepy.Cursor(api.search_tweets, q=query,
                       count=100).items(100)

In [5]:
tweets_list = [[tweet.created_at, tweet.user.screen_name, tweet.text] for tweet in tweets]
tweets_df = pd.DataFrame(tweets_list,columns=['created_at', 'username', 'text'])
tweets_df['created_at'] = tweets_df['created_at'].apply(lambda a: pd.to_datetime(a).date())
tweets_df

,created_at,username,text
0,2022-07-22,nnieselregen,"@farwkwk hadue ga dulu, ngitung diskon gojek a..."
1,2022-07-22,HanggardaE,@reo185_ Owalahh beli sendiri ya apa pake goje...
2,2022-07-22,Ima66659491,RT @gofoodindonesia: PESEN BANYAK MENU #REKOME...
3,2022-07-22,aisyahshofi,"Untungnya si cs ada di kota Bandung, jadi rusa..."
4,2022-07-22,jjajjengnaa,capek bgt gaada gojek dsni tidak bisa gofood ðŸ¥ºðŸ¥ºðŸ¥º
...,...,...,...
95,2022-07-22,i_m_mortal_,"RT @thatrdit: @bononnie_ @i_m_mortal_ ka im, g..."
96,2022-07-22,shookyjk_,RT @gofoodindonesia: Senin jadi hari yang ditu...
97,2022-07-22,thatrdit,"@bononnie_ @i_m_mortal_ ka im, gojek lagi gang..."
98,2022-07-22,OathofHell,"hi, Pagi. admin @gojekindonesia, akunku kena s..."
99,2022-07-22,shookyjk_,RT @gofoodindonesia: SERBU DISKON HINGGA 120RI...

In [6]:
#Creating and save dataset to excel
tweets_df.to_excel("datasetgojek8.xlsx")